/* Global Element Variables */

body {
    background-color: rgb(46, 46, 46);
    font-family: 'Handjet';
    font-size: 1.2rem;
}

button {
    border: none;
    font: inherit;
    background-color: inherit;
    color: inherit;
    transition: 0.3s;
    cursor: pointer;
}

input[type="color"] {
    width: 32px;
    height: 32px;
    background-color: inherit;
    border: 0;
    padding: 0;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    background-color: inherit;
    border: none;
    border-bottom: 3px solid #eee;
    height: 32px;
    font: inherit;
    color: inherit;
    text-align: center;
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]:focus {
    outline: none;
    border-color: #000;
}


/* Container */
/* Holds the settings screen, splash, and game display (dynamically adds) */

.container {
    margin: 0 auto;
    width: 450px;
    height: 100%;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    background-color: #000;
    color: #fff;
}

/* Score Board */

.score-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.3rem;
}

.score-board button {
    margin-left: 1rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.score-board button:hover {
    background-color: #333;
}

/* Game Pixel Grid */

.game-display {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: #67a467c4;
    border: 1px solid #3bb230;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}

/* A pixel in the pixel grid */

.pixel {
    background-color: #075700;
    border: 1px solid #4c7548;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/* A food pixel in the pixel grid */

.food {
    background-color: #86420a;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

/* A display container that holds splash screen and the game display */

.display-container {
    padding: 12px;
    background-color: #4c7548;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.button-board {
    width: 100%;
    background-color: #000;
    padding: 2rem;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
}

/* Control Butons: Play, Pause, and Replay  */

.button-board button {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.button-board button:hover {
    background-color: #fff;
    color: #000;
}

/* Screens */

.splash,
.game-over {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    text-align: center;
    animation: appear 2s;
}

/* Splash Screen */

.splash p, .game-over p {
    font-size: 5rem;
}

/* Game Over Screen */

.game-over {
    animation: blink 0.8s ease-in-out 0s 3;
}

/* Animations */

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100%;}
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Settings Screen */

.settings {
    display: none;
    border: 1px solid #333;
    background-color: #4c7548;
    height:  400px;
}

.settings-list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.settings-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 4px;
}

.settings h1 {
    text-align: center;
}

.settings button {
    background-color: #000;
    padding: 8px;
    border-radius: 8px;
}

.settings button:hover {
    background-color: #333;
}